extends ../layout.pug

block content
	div.container
		div.row
			div.col-sm.mx-auto-bg-dark.text-center Hello
			div.col-sm.mx-auto-bg-dark.text-center Hello
			div.col-sm.mx-auto-bg-dark.text-center Hello
		div.row
			div.col-sm-4.mx-auto-bg-dark.text-center world
			div.col-sm-4.mx-auto-bg-dark.text-center world
			div.col-sm-4.mx-auto-bg-dark.text-center world
		div.row
			div.col-sm-4.mx-auto-bg-dark.text-center friend!
			div.col-sm-4.mx-auto-bg-dark.text-center friend!
			div.col-sm-4.mx-auto-bg-dark.text-center friend!