extends ../layout.pug

block content
	div.container
		div.row
			div.col-sm.mx-auto-bg-dark.text-center 
			div.col-sm.mx-auto-bg-dark.text-center 
			div.col-sm.mx-auto-bg-dark.text-center 
		div.row
			div.col-sm-4.mx-auto-bg-dark.text-center This is the shop!
			div.col-sm-4.mx-auto-bg-dark.text-center There will be items to shop from!
			div.col-sm-4.mx-auto-bg-dark.text-center Click into your cart
		div.row
			div.col-sm-4.mx-auto-bg-dark.text-center 
			div.col-sm-4.mx-auto-bg-dark.text-center 
			div.col-sm-4.mx-auto-bg-dark.text-center 