extends ../layout.pug

block content
	div.container
		div.row
			div.col-md-3(style='border-right: 1px solid black; border-left: 1px solid black;')
				p Search Conditions
			div.col-md-6(style='border-right: 1px solid black')
				- for(var i = 0; i < 10; i++) {
					div(style='border-bottom: 1px solid black')
						p Product
				- }