//- layout.pug
html
	head
		title My Site - #{title}
		script(src='js/jquery-3.2.1.min.js')
		script(src='js/script.js')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" , crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ",  crossorigin="anonymous")
	body

		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			div.container

				a.navbar-brand(href='http://google.com') Container

				button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarsExample05', aria-controls='navbarsExample05',aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-icon

				div.navbar-collapse.collapse#navbarsExample05
					ul.navbar-nav.mr-auto
						li.nav-item.active
							a.nav-link(href='http://google.com') Home
						li.nav-item.active
							a.nav-link(href='http://google.com') About
						li.nav-item.active
							a.nav-link(href='http://google.com') Contact
						li.nav-item.active
							a.nav-link(href='http://google.com') Link
		div.card.card-body.bg-light.mx-auto 
			block content
		block foot
			#footer
			p some footer content
