//- layout.pug
html
	head
		title #{title}
		script(src='js/jquery-3.2.1.min.js')
		script(src='js/script.js')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" , crossorigin="anonymous")
		link(rel="stylesheet", type="text/css", href="css/style.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ",  crossorigin="anonymous")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css")
	body
		nav.navbar.navbar-expand-lg.navbar-light.navbar-color.mb-5
			div.container
				a.navbar-brand(href='http://google.com') P & N
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				div.collapse.navbar-collapse#navbarSupportedContent
					ul.navbar-nav.mr-auto
						li.nav-item.active
							a.nav-link(href='/') Home
								span.sr-only (current)
						li.nav-item
							a.nav-link(href='/shop') Shop
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle#navbarDropdown(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') DropDown
							div.dropdown-menu(aria-labelledby='navbarDropdown')
								a.dropdown-item(href='/shop') Action
								a.dropdown-item(href='/shop') Another Action
								div.dropdown-divider
								a.dropdown-item(href='/shop') Something else here
						li.nav-item
						a.nav-link.disabled(href='about') Contact
					ul.navbar-nav.float-right
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle#navbarDropdown(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') User
							div.dropdown-menu(aria-labelledby='navbarDropdown')
								a.dropdown-item(href='/login') Login
								a.dropdown-item(href='/shop') Cart
								div.dropdown-divider
								a.dropdown-item(href='/shop') Something else here
		block content
		block foot
			#footer
			footer.footer
				div.container-fluid.text-center
					div.row.justify-content-md-center
						div.col.col-lg-2
							span.text-muted Matthew Piskunov 
						div.col-12.col-md-auto
							span.text-muted E-Commerce Example (2018)
						div.col.col-lg-2
							span.text-muted matthewpiskunov@yahoo.com