.navbar-color {
    background-color: #02a500;
}

.crop {
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.crop img {
    width: 800px;
    height: 600px;
    margin: -150px 0 0 -200px;
}